<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Una Persona</title>
</head>
<body>
<h1>Datos de la persona</h1>
<p><strong>Nombre:</strong> <span th:text="${persona.nombre}"></span></p>
<p><strong>Apellidos:</strong> <span th:text="${persona.apellidos}"></span></p>
<p><strong>DNI:</strong> <span th:text="${persona.dni}"></span></p>
<p><strong>Fecha de nacimiento:</strong> <span th:text="${persona.fechaNacimiento}"></span></p>
<p><strong>Edad:</strong> <span th:text="${persona.edad}"></span></p>
</body>
</html>